
.form-container {
    background: #D2E4EC; /* White background for form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* For the split-screen version */
.split-screen {
    color: #ffffff;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container, .signup-container {
    width: 100%;
    max-width: 320px; /* Controls the form width */
    padding: 20px;
    background: #E8F0FE; /* Soft Blue */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
}


.custom-input {
    background: transparent; /* Lightly transparent white for inputs */
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #f8f4f4;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    
}

.custom-input:focus {
    outline: none;
    border-color: #0056b3;
    background: transparent;
}

.custom-dropdown {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #000;
    border-radius: 8px;
}

.custom-dropdown .Select-control {
    background: transparent; /* Ensure the control itself is transparent */
    color: #000; /* Text color */
    border: 1px solid #ccc; /* Border to make it distinguishable */
}

.custom-dropdown .Select-menu-outer {
    background: #474545; /* Ensure dropdown contents have a white background */
    color: #000; /* Text color */
}

.custom-dropdown .Select-option.is-focused {
    background-color: #302d2d; /* Light grey background for focused option */
}

.custom-dropdown .Select-option.is-selected {
    background-color: #e0e0e0; /* Slightly darker background for selected option */
}


.login-btn, .signup-btn {
    color: #fff;
    background-color: #007BFF; /* Blue */
    border-color: #0056b3;
}

.login-btn:hover, .signup-btn:hover {
    background-color: #0056b3;
    border-color: #004085;
}

